
    <div class="flash">
      <%= flash[:success] %>
    </div>


<% if @user[:id] == nil %>
    <form action="/register">
      <input type="submit" value="Register">
    </form>

    <h1>Login</h1>
    <form action="/" method="post">
      Username: <input type="text" placeholder="username" name="username"><br>
      Password: <input type="password" placeholder="password" name="password"><br>
      <input type="submit" value="Login">
    </form>

<% else %>

    <form action="/" method="post">
      <input type="submit" value="Logout">
    </form>

<%end%>