<a href="/registration/new">Register</a>

<h1>Sign In</h1>

<form action="/session" method="post">
  <ul>
    <li>
      <label for="username">Username</label>
      <input type="text" name="username" id="username"/>
    </li>
    <li>
      <label for="password">Password</label>
      <input type="password" name="password" id="password"/>
    </li>
    <li>
        <input type="submit" value="Sign In"/>
    </li>
  </ul>

</form>